<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}   {% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="static/main.css">
  <link rel="stylesheet" type="text/css" href="static/media.css">
  <link rel="shortcut icon" href="http://uchebcentr-mf.kg/img/favicon.png" type="img/png">
  <link rel="stylesheet" href="static/font-awesome.min.css">

  {% block head %}
  {% endblock %}
</head>
<body data-spy="spyscroll" data-target=".navbar-default">
  <header>
      <nav class="navbar navbar-default">

          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="logo-wrap">
                          <a class="logo" href="#"><img src="static/logo-mf.png" alt="Учебный центр МФ КР"></a>
                          <a class="logo" href="#"><img src="static/logo.png" alt="Учебный центр МФ КР"></a>
                      </div>
                      <div class="title">
                          <h1>Учебный центр Министерства финансов Кыргызской Республики</h1>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="contacts">
                          <a href="mailto:ucmfkr@gmail.com" title="ucmfkr@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>ucmfkr@gmail.com</a>
                          <a href="tel:+996312625313" title="+996 (312) 62-53-13"><i class="fa fa-phone-square" aria-hidden="true"></i>+996 (312)<span> 62-53-13,</span> доб. 5010</a>
                      </div>
                  </div>

                  <div class="col-md-2">
                      <ul class="lang">
                          <li><a href="../en/index.html">EN</a></li>
                          <li><a href="index.html" class="active">RU</a></li>
                          <li><a href="../kg/index.html">KG</a></li>
                      </ul>
                      <div class="social">
                          <a href="https://ok.ru/profile/571767208882" target="_blank"><i class="fa fa-odnoklassniki-square" aria-hidden="true"></i></a>
                          <a href="https://www.facebook.com/tcmfkr/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                      </div>
                  </div>
              </div>
          </div>

      </nav>
      <nav class="navbar navbar-inverse">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                      <span class="sr-only"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                  <div class="row">
                      <ul class="nav navbar-nav">
                          <li><a href="/index.html">Главная</a></li>
                          <li>
                              <a href="/kursy.html">Курсы </a>
                          </li>

                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">О нас <span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu">
                                  <li><a href="istoria.html">История</a></li>
                                  <li><a href="polozheniye.html">Положение</a></li>
                                  <li><a href="team.html">Наша команда</a></li>
                              </ul>
                          </li>
                          <li><a href="news.html">Новости</a></li>
                          <li><a href="photogallery.html">Фотогалерея</a></li>
                          <li><a href="faq.html">Вопросы и ответы</a></li>
                          <li><a href="http://egplms.okmot.kg/" target="_blank">Портал</a></li>
                          <li><a href="contacts.html">Контакты</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </nav>
  {% block header %}{% endblock %}
  </header>
{% block bodyheader %}{% endblock %}

  {% block body %}
  {% endblock %}


  <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 col-md-3">
                  <div class="wrap-contacts">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i>г. Бишкек, Кыргызстан</p><p>Бульвар Эркиндик 58А</p>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="wrap-contacts">
                      <p><i class="fa fa-envelope" aria-hidden="true"></i>ucmfkr@gmail.com</p>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="wrap-contacts">
                      <p><i class="fa fa-phone-square" aria-hidden="true"></i>+996 (312) 62-53-13, доб. 5010</p>
                  </div>
              </div>
              <div class="col-sm-12 col-md-3">
                  <div class="text-right">
                      <a href="https://www.facebook.com/tcmfkr/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                      <a href="https://ok.ru/profile/571767208882" target="_blank"><i class="fa fa-odnoklassniki-square" aria-hidden="true"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="copy text-center">
          <p><i class="fa fa-copyright" aria-hidden="true"></i>Учебный центр Министерства финансов Кыргызской Республики</p>
      </div>
  </footer>


            <script src="static/jquery.min.js"></script>
            <script src="static/bootstrap.min.js"></script>
            {% block script %} {% endblock %}
</body>
</html>
