{%extends "glavnaya/index.html" %}

 {% block bodyheader %}

 {% endblock %}

{% block aside %}

  <div class="item">
      <a href="kursy.html" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Курсы Учебного центра</h5></div>
      </a>
  </div>

  <div class="item">
      <a href="http://webtest.uchebcentr-mf.kg" target="_blank" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-file-text" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Система тестирования и сертификации</h5></div>
      </a>
  </div>

  <div class="item">
      <a href="http://egplms.okmot.kg/" target="_blank" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-list-alt" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Информационно-образовательный портал</h5></div>
      </a>
  </div>

{% endblock %}
{% block content %}
  <div class="content">

             <div class="headline"><h3>Контакты</h3></div>

                 <div class="row">

  <div class="col-sm-12">
  <div class="contacts">
  <p><i class="fa fa-map-marker" aria-hidden="true"></i>г. Бишкек, Кыргызстан. Бульвар Эркиндик 58А</p>
  <p><i class="fa fa-phone-square" aria-hidden="true"></i>+996 (312) 62-53-13, доб. 5010; +996 (312) 66-15-97</p>
  <p><i class="fa fa-envelope" aria-hidden="true"></i>ucmfkr@gmail.com</p>
  </div>
  </div>

  <div class="col-sm-12">
       <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae2070d73eee7c0ddd6aef7b19d9381dcae3e1238d2f5f692b9377831654ef32c&height=377&lang=ru_RU&scroll=true"></script>
   </div>


{% endblock %}
