{%extends "glavnaya/index.html" %}

 {% block bodyheader %}

 {% endblock %}

{% block aside %}

  <div class="item">
      <a href="kursy.html" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Курсы Учебного центра</h5></div>
      </a>
  </div>

  <div class="item">
      <a href="http://webtest.uchebcentr-mf.kg" target="_blank" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-file-text" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Система тестирования и сертификации</h5></div>
      </a>
  </div>

  <div class="item">
      <a href="http://egplms.okmot.kg/" target="_blank" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-list-alt" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Информационно-образовательный портал</h5></div>
      </a>
  </div>

{% endblock %}
{% block content %}
              <div class="content">
                  <ol class="breadcrumb">
                      <li><a href="index.html"><i class="fa fa-home fa-lg"></i></a></li>
                      <li><a href="#">О нас</a></li>
                      <li class="active">История учебного центра МФ КР</li>
                  </ol>
                  <article>
                      <div class="headline"><h3>История</h3></div>
                      <p>Учебный центр был образован как Республиканские курсы повышения квалификации работников финансовых и страховых органов в 1978 году, затем в 2001 году курсы были преобразованы в Учебный центр Министерства финансов Кыргызской Республики.</p>
<p>Учебный центр в своей деятельности руководствуется Конституцией Кыргызской Республики, Законом Кыргызской Республики «Об образовании», а также другими законами Кыргызской Республики, Указами и распоряжениями Президента Кыргызской Республики, постановлениями и распоряжениями Правительства Кыргызской Республики, решениями Министерства и иными нормативными правовыми актами Кыргызской Республики. Положение об Учебном центре, утверждено  постановлением Правительства Кыргызской Республики от 20 февраля 2012 года № 114.  Учебный центр осуществляет свою деятельность под общим руководством министра, статс-секретаря, курирующего работу Центра, а также непосредственным руководством директора Учебного центра.</p>
<p>Основной задачей Учебного центра  МФ КР является обучение,  переподготовка и повышение квалификации работников системы Министерства финансов, работников сектора государственного управления и органов местного самоуправления по вопросам эффективного управления государственными финансами, международных стандартов финансовой отчетности и системы внутреннего аудита в государственном секторе, автоматизации учета и отчетности в системе казначейства.</p>
<p>Учитывая уполномоченность Министерства финансов Кыргызской Республики в организации методологии государственных закупок введен многоуровневая образовательная система в области государственных закупок. С апреля 2010 года в соответствии с Указом Президента Кыргызской Республики «О мерах по обеспечению реализации Закона Кыргызской Республики «О структуре Правительства Кыргызской Республики» от 26 октября 2009 года № 425  Учебный центр согласно его Положению проводит курсы по подготовке, переподготовке и повышению квалификации кадров по системе государственных закупок товаров, работ и услуг с выдачей подтверждающих сертификатов установленного образца Министерства финансов Кыргызской Республики. Для этого привлечены тренеры-консультанты, разработаны программы обучения, методические пособия, раздаточные материалы для специалистов государственных закупок.</p>
<p>Обучение слушателей проводится по учебным планам и программам, составленным совместно с начальниками управлений, отделов и структурными, подведомственными подразделениями Министерства финансов. Языки обучения: кыргызский, русский в зависимости от запросов слушателей. Продолжительность обучения определяется учебными планами, согласуется с начальниками управлений, утверждается статс-секретарем Министерства финансов. Учебный Центр для осуществления учебного процесса привлекает преподавателей ВУЗов, специалистов из аппарата Министерства финансов и других министерств, ведомств на условиях почасовой оплаты и совместительства. Слушатели, прошедшие обучение и переподготовку в Учебном центре, получают сертификат установленного образца.</p>
<p>Финансирование деятельности Учебного центра осуществляется в установленном порядке за счет ассигнований выделяемых из государственного бюджета и других поступлений. Центр имеет бюджетные и специальные средства. Ведется бухгалтерский и статический учет, а так же отчетность в рамках, установленных законодательством КР., норм и требований. Оплата труда преподавателей определяется в установленном порядке объемом выполненной учебной нагрузки.</p>
<p>Учебные программы охватывают следующие темы:</p>

<ul class="list">
<li>Реформы управления государственными финансами;</li>
<li>Порядок проведения финансирования из республиканского бюджета Кыргызской Республики при усовершенствованном механизме исполнения бюджета;</li>
<li>Экономический прогноз и прогнозирование на региональном уровне;</li>
<li>Система трансфертов (категориальные гранты и применение модели подушевого финансирования);</li>
<li>Двухуровневый бюджет;</li>
<li>Единый  План Счетов и руководство по его применению.</li>
<li>Новые инициативы, направленных на повышение уровня прозрачности использования государственных финансов (www.okmot.kg)</li>
<li>Электронная система государственных закупок (zakupki.okmot.kg) – прозрачность и доступ общественности ко всей информации о государственных закупках;</li>
<li>Роль государственных закупок в развитии рыночной экономики;</li>
<li>Основные принципы  Закона «О государственных закупках»;</li>
<li>Процедура государственных закупок;</li>
<li>Правовые и регулятивные рамки для закупок работ, подготовка проекта строительных работ, предквалификационные процедуры;</li>
<li>Договора государственных закупок и их администрирование;</li>
<li>Механизм рассмотрения протестов и жалоб в сфере государственных закупок.</li>
</ul>
                  </article>

              </div>
          </div>
      </div>
  </div>
{% endblock %}
