{%extends "glavnaya/index.html" %}

 {% block bodyheader %}

 {% endblock %}

{% block aside %}

  <div class="item">
      <a href="kursy.html" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Курсы Учебного центра</h5></div>
      </a>
  </div>

  <div class="item">
      <a href="http://webtest.uchebcentr-mf.kg" target="_blank" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-file-text" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Система тестирования и сертификации</h5></div>
      </a>
  </div>

  <div class="item">
      <a href="http://egplms.okmot.kg/" target="_blank" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-list-alt" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Информационно-образовательный портал</h5></div>
      </a>
  </div>

{% endblock %}
{% block content %}
<div class="content">
                  <ol class="breadcrumb">
                      <li><a href="/index.html"><i class="fa fa-home fa-lg"></i></a></li>
                      <li><a href="/news.html">Новости</a></li>
                      <li class="active">
                        {% block news_title %}
                        {{new.title|truncatewords_html:7}}
                        {% endblock %}
                      </li>
                  </ol>

          <article>
                    <p>
                      </p>
                    <div class="headline"><h3>  {{ new.title}} </h3></div>
                        <div class="paragraph">
                              <p>{{new.text|linebreaksbr}}</p><br>
                        </div>
                  <div class="img-wrap popup-gallery">
                      <a href= {{ new.image}} ><img src={{ new.image.url}} alt={{ new.title}}></a>
                    <div class="img-wrap popup-gallery">
                    </div>
                  </div>

         </article>
              </div>
          </div>
      </div>
  </div>
</section>


{% endblock %}
