{%extends "glavnaya/index.html" %}

 {% block bodyheader %}

 {% endblock %}

{% block aside %}

  <div class="item">
      <a href="kursy.html" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Курсы Учебного центра</h5></div>
      </a>
  </div>

  <div class="item">
      <a href="http://webtest.uchebcentr-mf.kg" target="_blank" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-file-text" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Система тестирования и сертификации</h5></div>
      </a>
  </div>

  <div class="item">
      <a href="http://egplms.okmot.kg/" target="_blank" class="box small-box">
          <div class="top-icon">
              <i class="fa fa-list-alt" aria-hidden="true"></i>
          </div>
          <div class="inner-caption"><h5 class="middle text-center">Информационно-образовательный портал</h5></div>
      </a>
  </div>

{% endblock %}
{% block content %}
<div class="content">
                <ol class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-home fa-lg"></i></a></li>
                    <li><a href="#">О нас</a></li>
                    <li class="active">Положение учебного центра МФ КР</li>
                </ol>
                <article>
                    <div class="headline"><h3>Положение</h3></div>
                    <p><strong>1Утверждено<br>постановлением Правительства<br>Кыргызской Республики<br>от 20 февраля 2012 года N 114</strong></p>
<p><strong><em>Положение</em><br>об Учебном центре Министерства финансов<br>Кыргызской Республики</strong></p><br>
<p>1. Общие положения</p>
<p>2. Цель и задачи Учебного центра</p>
<p>3. Основные функции Учебного центра</p>
<p>4. Организация деятельности Учебного центра</p><br>
<p><strong>1. Общие положения</strong></p>
<p>1. Положение об Учебном центре Министерства финансов Кыргызской Республики (далее — Учебный центр) разработано в соответствии с нормативными правовыми актами и определяет правовые и организационные основы деятельности Учебного центра, его полномочия, задачи, функции, взаимоотношения с другими подразделениями Министерства финансов Кыргызской Республики (далее — Министерство).</p>
<p>2. Учебный центр в своей деятельности руководствуется Конституцией Кыргызской Республики, Законом Кыргызской Республики «Об образовании», а также другими законами Кыргызской Республики, указами и распоряжениями Президента Кыргызской Республики, постановлениями и распоряжениями Правительства Кыргызской Республики, решениями Министерства, настоящим Положением и иными нормативными правовыми актами Кыргызской Республики.</p>
<p>3. Учебный центр является подведомственным подразделением Министерства и осуществляет свою деятельность под общим руководством министра, курирующего заместителя министра, а также под непосредственным руководством директора Учебного центра.</p>
<p>4. Учебный центр является самостоятельным юридическим лицом, имеет печать с изображением Государственного герба Кыргызской Республики и своим наименованием на государственном и официальном языках.</p>
<p>5. Учебный центр взаимодействует с государственными органами Кыргызской Республики, местными государственными администрациями Кыргызской Республики и органами местного самоуправления, общественными объединениями, гражданами и юридическими лицами, а также структурными, подведомственными подразделениями и территориальными органами Министерства.</p>
<p>6. Учебный центр в отношении закрепленного за ним имущества осуществляет право владения, пользования и распоряжения в пределах, установленных законодательством.</p><br>
<p><strong>2. Цель и задачи Учебного центра</strong></p>
<p>7. Целью Учебного центра является повышение уровня знаний работников системы Министерства, работников сектора государственного управления и органов местного самоуправления.</p>
<p>8. Основными задачами Учебного центра являются обучение и переподготовка работников системы Министерства, работников сектора государственного управления и органов местного самоуправления по вопросам эффективного управления государственными финансами, международных стандартов финансовой отчетности и системы внутреннего аудита в государственном секторе, процедур государственных закупок товаров, работ, услуг и консультационных услуг, автоматизации учета и отчетности в системе казначейства и другим направлениям.</p><br>
<p><strong>3. Основные функции Учебного центра</strong></p>
<p>9. В целях реализации указанных задач Учебный центр осуществляет следующие функции:</p>

<ul class="list">
<li>обучение и повышение квалификации работников системы Министерства, работников сектора государственного управления и органов местного самоуправления;</li>
<li>разработка учебных пособий, справочной литературы, плакатов, брошюр, в том числе по Международным стандартам финансовой отчетности общественного сектора (далее — МСФООС), проведению государственных закупок;</li>
<li>создание эффективной системы обучения;</li>
<li>внедрение в учебный процесс инновационных технологий;</li>
<li>проведение семинаров-совещаний, тренингов, конференций;</li>
<li>проведение разъяснительно-консультативной работы;</li>
<li>осуществление прямых связей с зарубежными и международными учреждениями, предприятиями и частными лицами по вопросам учебной, научной и производственно-коммерческой деятельности, повышения квалификации научно-педагогических кадров на основании соответствующих двусторонних договоров;</li>
<li>выполнение иных функций, необходимых для осуществления возложенных на Учебный центр задач.</li>
</ul><br>

<p><strong>4. Организация деятельности Учебного центра</strong></p>
<p>10. Обучение проводится по учебным планам и программам, составленным совместно со структурными, подведомственными подразделениями Министерства.</p>
<p>Языки обучения: кыргызский, русский в зависимости от запросов слушателей и возможностей Учебного центра.</p>
<p>Продолжительность обучения определяется учебными планами.</p>
<p>Учебный центр для осуществления учебного процесса вправе привлекать специалистов Министерства и других министерств, ведомств.</p>
<p>11. Слушатели, прошедшие обучение и переподготовку в Учебном центре, получают сертификат установленного образца.</p>
<p>12. Руководство Учебным центром осуществляет директор, назначаемый на должность и освобождаемый от должности Премьер-министром Кыргызской Республики по представлению министра финансов Кыргызской Республики.</p>
<p>13. Директор организует учебно-методическую, производственную работу Учебного центра и несет персональную ответственность за достижение возложенных на Учебный центр задач.</p>
<p>14. Директор Учебного центра имеет право:</p>

<ul class="list">
<li>вносить предложения руководству Министерства по совершенствованию учебного процесса, учебно-методической работы и материально-технической базы;</li>
<li>действовать от имени Центра без доверенности, представлять его интересы;</li>
<li>заключать договоры от имени Центра с юридическими и физическими лицами, выдавать доверенности;</li>
<li>в пределах своей компетенции издавать приказы, распоряжения, давать поручения и указания, обязательные для исполнения всеми работниками Учебного центра;</li>
<li>вести переписку с соответствующими организациями и учреждениями по вопросам, касающимся работы Учебного центра;</li>
<li>изменять условия оплаты труда учебно-вспомогательного и административно-хозяйственного персонала с соблюдением законодательства и в пределах установленного фонда заработной платы;</li>
<li>направлять в установленном порядке своих работников в служебные командировки;</li>
<li>осуществлять в порядке, установленном законодательством, перемещение штатных работников Учебного центра, оказывать материальную помощь, принимать меры поощрения и дисциплинарного взыскания.</li>
</ul>
<p>15. Финансирование деятельности Учебного центра осуществляется в установленном порядке за счет:</p>
<ul>
<li>средств, поступающих в виде платы за обучение;</li>
<li>ассигнований из государственного бюджета;</li>
<li>средств, полученных за выполнение договоров на подготовку и переподготовку специалистов предприятий, учреждений, организаций и частных лиц;</li>
<li>средств, передаваемых безвозмездно организациями, предприятиями, учреждениями, физическими лицами, в том числе иностранных государств;</li>
<li>собственных средств от научно-исследовательской, издательской, производственной и коммерческой деятельности;</li>
<li>других источников, разрешенных законодательством.</li>
</ul>

<p>16. Оплата труда преподавателей определяется в установленном порядке в соответствии с объемом выполненной учебной нагрузки.</p>
<p>17. Реорганизация и прекращение деятельности Учебного центра осуществляется в соответствии с законодательством Кыргызской Республики.</p>
<p>18. При прекращении деятельности Учебного центра документы, возникшие в ходе его деятельности, хранятся и используются в соответствии с Законом Кыргызской Республики «О Национальном архивном фонде Кыргызской Республики».</p>
                </article>

            </div>
        </div>
    </div>

{% endblock %}
